@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    outline: solid 2px red;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Robot, sans-serif;
}

/* SECTION NAVIGATION BAR */
#section-nav-outer {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding-block: 10px;
    padding-inline: clamp(1.875rem, -21.042rem + 36.667vi, 15.625rem);
}

.section-nav-inner {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
}

.wordmark {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.section-nav-inner ul li a,
ul,
li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #F9FAF8;
    display: flex;
    gap: 20px;
}

/* SECTION 2 */
#section-2-outer {
    display: flex;
    flex: 1 1 auto;
    background-color: #1F2937;
    padding-block: clamp(3.125rem, -5.871rem + 15.152vi, 6.25rem);
    padding-inline: clamp(1.875rem, -21.042rem + 36.667vi, 15.625rem);
}

.section-2-inner {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 25px;
}

.section-2-inner-a {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    max-width: 400px;
    gap: 20px;
}

.s2-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
}

.s2-text {
    color: #F9FAF8;
    font-size: 18px;
}

.section-2-inner-a button {
    all: unset;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 5px;
    width: fit-content;
    padding: 8px 24px 8px 24px;
}

.section-2-inner-b {
    display: flex;
    flex: 1 1 400px;
    max-width: 800px;
}

.section-2-inner-b img {
    width: 100%;
}

@media (max-width: 56.84375rem) {
    .section-2-inner {
        justify-content: center;
    }

    .section-2-inner-a {
        flex: 1 1 auto;
        max-width: 100%;
    }

    .section-2-inner-a .s2-heading {
        max-width: 390px;
    }

    .section-2-inner-b {
        justify-content: center;
        flex: 1 1 auto;
        max-width: 600px;
    }
}

/* SECTION 3 */
#s3-out {
    display: flex;
    background-color: #F9FAF8;
    padding-block: 50px;
    padding-inline: clamp(1.875rem, -21.042rem + 36.667vi, 15.625rem);
}

.s3-in {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.s3-in-frame1 {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    line-height: 1;
}

.s3-in-frame2 {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.s3-in-frame2-card1,
.s3-in-frame2-card2,
.s3-in-frame2-card3,
.s3-in-frame2-card4 {
    display: flex;
    flex-direction: column;
    flex: 1 1 160px;
    max-width: 192px;
    gap: 25px;
    text-align: center;
    font-size: 18px;
}

.s3-in-frame2-card1 img,
.s3-in-frame2-card2 img,
.s3-in-frame2-card3 img,
.s3-in-frame2-card4 img {
    max-width: 100%;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

@media (max-width: 45.9375rem) {
    .s3-in-frame2-card1,
    .s3-in-frame2-card2,
    .s3-in-frame2-card3,
    .s3-in-frame2-card4 {
        flex: 0 0 100%;
    }
}

#section-4 {
    background-color: lightgray;
}

#section-5 {
    background-color: white;
}

#section-footer {
    background-color: lightgray;
}