@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    outline: solid 2px red;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

/* 🚩 SECTION NAVIGATION BAR */
#snav-out {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding-block: 10px;
    padding-inline: clamp(1.875rem, -21.042rem + 36.667vi, 15.625rem);
}

.snav-in {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
}

.snav-in-wordmark {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.snav-in ul li a,
ul,
li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #F9FAF8;
    display: flex;
    gap: 20px;
}

/* 🚩 SECTION 2 */
#s2-out {
    display: flex;
    flex: 1 1 auto;
    background-color: #1F2937;
    padding-block: clamp(3.125rem, -5.871rem + 15.152vi, 6.25rem);
    padding-inline: clamp(1.875rem, -21.042rem + 36.667vi, 15.625rem);
}

.s2-in {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 25px;
}

.s2-in-frame1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    max-width: 400px;
    gap: 20px;
}

.s2-in-frame1-heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
}

.s2-in-frame1-text {
    color: #F9FAF8;
    font-size: 18px;
}

.s2-in-frame1 button {
    all: unset;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 5px;
    width: fit-content;
    padding: 8px 24px 8px 24px;
}

.s2-in-frame2 {
    display: flex;
    flex: 1 1 400px;
    max-width: 800px;
}

.s2-in-frame2 img {
    width: 100%;
}

@media (max-width: 56.84375rem) {
    .s2-in {
        justify-content: center;
    }

    .s2-in-frame1 {
        flex: 1 1 auto;
        max-width: 100%;
    }

    .s2-in-frame1-heading {
        max-width: 390px;
    }

    .s2-in-frame2 {
        justify-content: center;
        flex: 1 1 auto;
        max-width: 600px;
    }
}

/* 🚩 SECTION 3 */
#s3-out {
    display: flex;
    background-color: #F9FAF8;
    padding-block: 50px;
    padding-inline: clamp(1.875rem, -21.042rem + 36.667vi, 15.625rem);
}

.s3-in {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.s3-in-frame1 {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    line-height: 1;
}

.s3-in-frame2 {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    gap: 25px;
}

.s3-in-frame2-card1,
.s3-in-frame2-card2,
.s3-in-frame2-card3,
.s3-in-frame2-card4 {
    display: flex;
    flex-direction: column;
    flex: 1 1 160px;
    max-width: 192px;
    gap: 25px;
    text-align: center;
    font-size: 18px;
}

.s3-in-frame2-card1 img,
.s3-in-frame2-card2 img,
.s3-in-frame2-card3 img,
.s3-in-frame2-card4 img {
    max-width: 100%;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

@media (max-width: 48.4375rem) {
    .s3-in-frame2-card1,
    .s3-in-frame2-card2,
    .s3-in-frame2-card3,
    .s3-in-frame2-card4 {
        max-width: 200px;
        min-width: 150px;
    }

    .s3-in-frame2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .s3-in-frame2-card1,
    .s3-in-frame2-card3 {
        justify-self: end;
    }
}

/* 🚩 SECTION 4 */
#s4-out {
    display: flex;
    background-color: #E5E7EB;
    padding-block: 50px;
    padding-inline: clamp(1.875rem, -21.042rem + 36.667vi, 15.625rem);
}

.s4-in {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.s4-in-maintext {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    flex: 1 1 auto;
    max-width: 843px;
}

.s4-in-littletext {
    color: #1F2937;
    font-size: 24px;
    font-weight: 900;
    flex: 1 1 auto;
    width: 100%;
    max-width: 843px;
    text-align: right;
}

/* 🚩 SECTION 5 */
#s5-out {
    background-color: #F9FAF8;
    display: flex;
    padding-block: 50px;
    padding-inline: clamp(1.875rem, -21.042rem + 36.667vi, 15.625rem);
}

.s5-in {
    display: flex;
    flex: 1 1 auto;
    background-color: #3882F6;
    justify-content: center;
    flex-wrap: wrap;
    padding-block: clamp(1.563rem, -5.556rem + 13.889vi, 3.125rem);
    padding-inline: 30px;
    border-radius: 10px;
}

.s5-in-positionman {
    display: flex;
    flex: 1 1 auto;
    max-width: 843px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 25px;
}

.s5-in-frame1 {
    flex: 0 1 auto;
}

.s5-in-frame1-heading {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.s5-in-frame1-text {
    color: #F9FAF8;
    font-size: 18pxpx;
}

.s5-in-frame2 button {
    all: unset;
    color: #F9FAF8;
    background-color: transparent;
    font-size: 18px;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    width: fit-content;
    padding: 8px 24px 8px 24px;
}

@media (max-width: 48.4375rem) {
    .s5-in-frame2 {
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-end;
    }
}

/* 🚩 SECTION FOOTER */
#sfoot-out {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-block: 25px;
    padding-inline: clamp(1.875rem, -21.042rem + 36.667vi, 15.625rem);
}

.sfoot-text {
    color: #F9FAF8;
    font-size: 18px;
}